* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    padding-top: 40px;
}

form {
    margin: 0 auto;
    max-width: 30vw;
}

label {
    display: block;
}

select, input ,textarea{
    display: inline-block;
    width: 30vw;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid rgb(228, 228, 228)
}

.name-box {
    display: flex;
    gap: 0.5rem;
}

span {
    color: red;
}

.submit {
    background-color: rgb(62, 127, 127);
    color: white;
}

.submit:hover {
    background-color: black;
}